[Unit]
Description=Interface for RC car control
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ncr/interface.py
WorkingDirectory=/home/ncr/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ncr

[Install]
WantedBy=multi-user.target